<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hue Lighting App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
 <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <script src="/javascripts/main.js"></script>


</head>

<body id="bodytable">
	<div id="wrapper">  

		<h1> Set the light for your table. </h1>

		<div id="buttonContainer">
			<div id="tableRead" class="buttonGroup">
				<button class="restaurant" id="readingButton">Reading Level</button>
			</div>

			<div id="tableDine" class="buttonGroup">
				<button class="restaurant">Dining Level</button>
				<div class="submenu" id="diningsub">
					<button class="subButtons" id="dine1">Date</button>
					<button class="subButtons" id="dine2">Family</button>
					<button class="subButtons" id="dine3">Business</button>
				</div>	
			</div>

			<div id="tableCustom" class="buttonGroup">
				<button class="restaurant">Custom</button>
				<div class="submenu" id="customsub">
					<div class='tableSliders' id='singleBright'>
						<p id='tableP'> Table Brightness: </p></br>
						<input type=range min=0 max=100 value=1 steps=10 id='indivBright'>
					</div>	

				</div>	
			</div>
		</div>


	</div>
</body>
</html>